* {
    box-sizing: border-box;
  }
  
img {
    width: 100px;
    height: auto;
}

.jumbotron.custom {
    text-align: center;
    margin: 5px;
    background-color: #9FC436;
    font-weight: bold;
    font-size: 24px;
}

#score {

    position: fixed;
    text-align: right;
    bottom: 0;
    right: 0;
    color: white;
    font-size: 24px;
    padding: 20px;
    margin: 5px;
    background-color: purple;
}

/* #current-game-message {

    font-size: 32px;
    text-decoration: italic;
    color: black;
    font-weight: bold;
    background-color: #3DDB85;
} */

#current-version {
    font-size: 40px;
    text-align: center;
    color: black;
    margin: 100px;
    position: relative;

}

#refreshed-content {
    color: #3DDB85;
    margin: 5px;
    font-size: 22px;
    padding: 20px;
    background-color: purple;
    position: absolute;
    bottom: 0;
    left: 0;

}

@media screen and (max-width: 665px) {

    #refreshed-content {
        position: relative;
        display: inline-block;
        width: 100%;

    }

    #socre {
        position: relative;
        display: inline-block;
        width: 100%;
        background-color: black;
    }

}