* {
    box-sizing: border-box;
  }
  
img {
    width: 200px;
    height: auto;
}

.jumbotron.custom {
    text-align: center;
    margin: 5px;
    background-color: #9FC436;
    font-weight: bold;
    font-size: 24px;
    position: relative;
}

#score {

    /* position: absolute;
    text-align: right;
    bottom: 0;
    right: 0; */
    color: white;
    font-size: 24px;
    padding: 20px;
    background-color: purple;
}

#current-version {
    font-size: 52px;
    text-align: center;
    color: black;
    margin: 15px;
    position: relative;

}

#refreshed-content {
    color: white;
    font-size: 22px;
    padding: 20px;
    background-color: purple;
    /* position: absolute;
    bottom: 0;
    left: 0; */

}

@media screen and (max-width: 665px) {

    #refreshed-content {
        position: relative;
        display: inline-block;
        width: 100%;

    }

    #socre {
        position: relative;
        display: inline-block;
        width: 100%;
        background-color: black;
    }

}